{% extends "base.html" %}
{% block estilos %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
{% endblock %}
{% block cuerpo %}

  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "li.solicitud_item" ).draggable({ // Hacer draggable todos los pacientes
        revert: "invalid",
        helper: "clone"
    });
    
    $( "tr.habitacion" ).droppable({ // Hacer droppable la tabla
      drop: function( event, ui ) {
        var $item = ui.draggable; // item es el paciente arrastrado
                                  // this es la tabla
        var id = $( this ).find('input[name=id]').val();
        $( this ).find('input[name=form-'+id+'-nombre]').val($item.find('input[name=nombres]').val())
        $( this ).find('input[name=form-'+id+'-numero_historia]').val($item.find('input[name=num_historia]').val())
        $( this ).find('input[name=form-'+id+'-procedencia]').val($item.find('input[name=procedencia]').val())
        $( this ).find('input[name=form-'+id+'-fecha]').val($item.find('input[name=fecha_salida]').val())
        $( this ).find('input[name=form-'+id+'-nombre_medico]').val($item.find('input[name=medico]').val())
        ui.draggable.fadeOut();
      }
    });    
  });
  
  
  $(function() { // Acordeon que no cierra automaticamente
    $.fn.togglepanels = function(){
        return this.each(function(){
            $(this).addClass("ui-accordion ui-accordion-icons ui-widget ui-helper-reset")
                .find("h3")
                .addClass("ui-accordion-header ui-helper-reset ui-state-default ui-corner-top ui-corner-bottom")
                .hover(function() { $(this).toggleClass("ui-state-hover"); })
                .click(function() {
                    $(this)
                        .toggleClass("ui-accordion-header-active ui-state-active ui-state-default ui-corner-bottom")
                        .find("> .ui-icon").toggleClass("ui-icon-triangle-1-e ui-icon-triangle-1-s").end()
                        .next().slideToggle();
                        return false;
                })
                .next()
                .addClass("ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom")
                .hide();
        });
    };

    $("#notaccordion").togglepanels();
  });
  </script>
  
  <div class="row">
    <div class="cuadroGrande span8 centrar" style="margin-left: 10px">
      <div class="titulo">
        Asignaci&oacute;n de Camas
      </div>
      <br/>
      <p>Se muestran las habitaciones libres para asignar pacientes.</p>
      <p>Arrastre el paciente de las listas de la derecha hasta la habitaci&oacute;n que desea asignarle.</p>
      {% if formset.total_form_count > 0 %}
      <table class="table table-bordered" style="border-right: 0">
        <tr>
            <th>N&uacute;mero de Habitaci&oacute;n</th>
            <th>N&uacute;mero de Historia</th>
            <th>Paciente</th>
            <th>M&eacute;dico</th>
            <th>Fecha estimada de salida</th>
            <th>Procedencia</th>
        </tr>
		
		<form method="post" action="">
			{{ formset.management_form }}
			{% for form in formset %}
			<tr class="habitacion">
				<input type="hidden" name="id" value="{{ forloop.counter0 }}" />
				<td>
                    {{form.numero_habitacion.as_hidden }}
					<center>{{form.numero_habitacion.value }}</center>
				</td>
				<td>
					<center>{{form.numero_historia}}</center>
				</td>
				<td>
					{{form.nombre}}
				</td>
				<td>
					{{form.nombre_medico}}
				</td>
				<td>
					{{form.fecha}}
				</td>
				<td>
					{{form.procedencia}}
				</td>
                <td>hola</td>
			</tr>
			{% endfor %}
		</form>
		
      </table>
      {% else %}
      <h4>No hay habitaciones disponibles en este momento.</h4>
      {% endif %}
    </div>
    
    <!--  Lista de Pacientes    -->
    <div class="cuadroGrande span4 centrar" style="margin-left: 50px">
      <h4>Solicitudes de camas</h4><br>
      <div id="notaccordion">
        <h3><a href="#">Emergencia Adultos</a></h3>
        <div id="adultos">
			{% for pac in pac_emergencia_adultos %}
			<li class="solicitud_item">
                <input type="hidden" name="num_historia" value="{{pac.num_historia}}">
                <input type="hidden" name="procedencia" value="Emergencia Adultos">
                <input type="hidden" name="nombres" value="{{pac.paciente.nombres}} {{pac.paciente.apellidos}}">
                <input type="hidden" name="fecha_salida" value="{{pac.fecha_salida}}">
                <input type="hidden" name="medico" value="{{pac.medico.cedula}}">
				<b>{{pac.num_historia}}</b> - {{pac.paciente.nombres}} {{pac.paciente.apellidos}}
				<br>
				{{pac.diagnostico}}
			</li>
			{% endfor %}
        </div>
        <h3><a href="#">Emergencia Pedi&aacute;trica</a></h3>
        <div id="pediatra">
            {% for pac in pac_emergencia_pediatra %}
			<li class="solicitud_item">
                <input type="hidden" name="num_historia" value="{{pac.num_historia}}">
                <input type="hidden" name="procedencia" value="Emergencia Pedi&aacute;trica">
                <input type="hidden" name="nombres" value="{{pac.paciente.nombres}} {{pac.paciente.apellidos}}">
                <input type="hidden" name="fecha_salida" value="{{pac.fecha_salida}}">
                <input type="hidden" name="medico" value="{{pac.medico.cedula}}">
				<b>{{pac.num_historia}}</b> - {{pac.paciente.nombres}} {{pac.paciente.apellidos}}
				<br>
				{{pac.diagnostico}}
			</li>
			{% endfor %}
        </div>
        <h3>Quir&oacute;fano</h3>
        <div id="quirofano">
            {% for pac in pac_quirofano %}
			<li class="solicitud_item">
                <input type="hidden" name="num_historia" value="{{pac.num_historia}}">
                <input type="hidden" name="procedencia" value="Quir&oacute;fano">
                <input type="hidden" name="nombres" value="{{pac.paciente.nombres}} {{pac.paciente.apellidos}}">
                <input type="hidden" name="fecha_salida" value="{{pac.fecha_salida}}">
                <input type="hidden" name="medico" value="{{pac.medico.cedula}}">
				<b>{{pac.num_historia}}</b> - {{pac.paciente.nombres}} {{pac.paciente.apellidos}}
				<br>
				{{pac.diagnostico}}
			</li>
			{% endfor %}
        </div>
        <h3>Sala de Partos</h3>
        <div id="partos">
            {% for pac in pac_parto %}
			<li class="solicitud_item">
                <input type="hidden" name="num_historia" value="{{pac.num_historia}}">
                <input type="hidden" name="procedencia" value="Sala de Partos">
                <input type="hidden" name="nombres" value="{{pac.paciente.nombres}} {{pac.paciente.apellidos}}">
                <input type="hidden" name="fecha_salida" value="{{pac.fecha_salida}}">
                <input type="hidden" name="medico" value="{{pac.medico.cedula}}">
				<b>{{pac.num_historia}}</b> - {{pac.paciente.nombres}} {{pac.paciente.apellidos}}
				<br>
				{{pac.diagnostico}}
			</li>
			{% endfor %}
        </div>
        <h3>UCI</h3>
        <div id="uci">
            {% for pac in pac_uci %}
			<li class="solicitud_item">
                <input type="hidden" name="num_historia" value="{{pac.num_historia}}">
                <input type="hidden" name="procedencia" value="UCI">
                <input type="hidden" name="nombres" value="{{pac.paciente.nombres}} {{pac.paciente.apellidos}}">
                <input type="hidden" name="fecha_salida" value="{{pac.fecha_salida}}">
                <input type="hidden" name="medico" value="{{pac.medico.cedula}}">
				<b>{{pac.num_historia}}</b> - {{pac.paciente.nombres}} {{pac.paciente.apellidos}}
				<br>
				{{pac.diagnostico}}
			</li>
			{% endfor %}
        </div>
        <h3>Adicionales</h3>
        <div>
            {% for pac in pac_adicional %}
			<li class="solicitud_item">
                <input type="hidden" name="num_historia" value="{{pac.num_historia}}">
                <input type="hidden" name="procedencia" value="Adicionales">
                <input type="hidden" name="nombres" value="{{pac.paciente.nombres}} {{pac.paciente.apellidos}}">
                <input type="hidden" name="fecha_salida" value="{{pac.fecha_salida}}">
                <input type="hidden" name="medico" value="{{pac.medico.cedula}}">
				<b>{{pac.num_historia}}</b> - {{pac.paciente.nombres}} {{pac.paciente.apellidos}}
				<br>
				{{pac.diagnostico}}
			</li>
			{% endfor %}
        </div>
        <h3>Especiales</h3>
        <div id="especiales">
            {% for pac in pac_especial %}
			<li class="solicitud_item">
                <input type="hidden" name="num_historia" value="{{pac.num_historia}}">
                <input type="hidden" name="procedencia" value="Especiales">
                <input type="hidden" name="nombres" value="{{pac.paciente.nombres}} {{pac.paciente.apellidos}}">
                <input type="hidden" name="fecha_salida" value="{{pac.fecha_salida}}">
                <input type="hidden" name="medico" value="{{pac.medico.cedula}}">
				<b>{{pac.num_historia}}</b> - {{pac.paciente.nombres}} {{pac.paciente.apellidos}}
				<br>
				{{pac.diagnostico}}
			</li>
			{% endfor %}
        </div>
		<h3>Traslados</h3>
        <div id="traslado">
            {% for pac in pac_traslado %}
			<li class="solicitud_item">
                <input type="hidden" name="num_historia" value="{{pac.num_historia}}">
                <input type="hidden" name="procedencia" value="Translados">
                <input type="hidden" name="nombres" value="{{pac.paciente.nombres}} {{pac.paciente.apellidos}}">
                <input type="hidden" name="fecha_salida" value="{{pac.fecha_salida}}">
                <input type="hidden" name="medico" value="{{pac.medico.cedula}}">
				<b>{{pac.num_historia}}</b> - {{pac.paciente.nombres}} {{pac.paciente.apellidos}}
				<br>
				{{pac.diagnostico}}
			</li>
			{% endfor %}
        </div>
        <h3>Otros</h3>
        <div>
            {% for pac in pac_otros %}
			<li class="solicitud_item">
                <input type="hidden" name="num_historia" value="{{pac.num_historia}}">
                <input type="hidden" name="procedencia" value="Otros">
                <input type="hidden" name="nombres" value="{{pac.paciente.nombres}} {{pac.paciente.apellidos}}">
                <input type="hidden" name="fecha_salida" value="{{pac.fecha_salida}}">
                <input type="hidden" name="medico" value="{{pac.medico.cedula}}">
				<b>{{pac.num_historia}}</b> - {{pac.paciente.nombres}} {{pac.paciente.apellidos}}
				<br>
				{{pac.diagnostico}}
			</li>
			{% endfor %}
        </div>
  
      </div>
    </div>
  </div>
  

<!--<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Droppable - Simple photo manager</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  #gallery { float: left; width: 65%; min-height: 12em; }
  .gallery.custom-state-active { background: #eee; }
  .gallery li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
  .gallery li h5 { margin: 0 0 0.4em; cursor: move; }
  .gallery li a { float: right; }
  .gallery li a.ui-icon-zoomin { float: left; }
  .gallery li img { width: 100%; cursor: move; }
 
  #trash { float: right; width: 32%; min-height: 18em; padding: 1%; }
  #trash h4 { line-height: 16px; margin: 0 0 0.4em; }
  #trash h4 .ui-icon { float: left; }
  #trash .gallery h5 { display: none; }
  </style>
  <script>
  $(function() {
    // there's the gallery and the trash
    var $gallery = $( "#gallery" ),
      $trash = $( "#trash" );
 
    // let the gallery items be draggable
    $( "li", $gallery ).draggable({
      cancel: "a.ui-icon", // clicking an icon won't initiate dragging
      revert: "invalid", // when not dropped, the item will revert back to its initial position
      containment: "document",
      helper: "clone",
      cursor: "move"
    });
 
    // let the trash be droppable, accepting the gallery items
    $trash.droppable({
      accept: "#gallery > li",
      activeClass: "ui-state-highlight",
      drop: function( event, ui ) {
        deleteImage( ui.draggable );
      }
    });
 
    // let the gallery be droppable as well, accepting items from the trash
    $gallery.droppable({
      accept: "#trash li",
      activeClass: "custom-state-active",
      drop: function( event, ui ) {
        recycleImage( ui.draggable );
      }
    });
 
    // image deletion function
    var recycle_icon = "<a href='link/to/recycle/script/when/we/have/js/off' title='Recycle this image' class='ui-icon ui-icon-refresh'>Recycle image</a>";
    function deleteImage( $item ) {
      $item.fadeOut(function() {
        var $list = $( "ul", $trash ).length ?
          $( "ul", $trash ) :
          $( "<ul class='gallery ui-helper-reset'/>" ).appendTo( $trash );
 
        $item.find( "a.ui-icon-trash" ).remove();
        $item.append( recycle_icon ).appendTo( $list ).fadeIn(function() {
          $item
            .animate({ width: "48px" })
            .find( "img" )
              .animate({ height: "36px" });
        });
      });
    }
 
    // image recycle function
    var trash_icon = "<a href='link/to/trash/script/when/we/have/js/off' title='Delete this image' class='ui-icon ui-icon-trash'>Delete image</a>";
    function recycleImage( $item ) {
      $item.fadeOut(function() {
        $item
          .find( "a.ui-icon-refresh" )
            .remove()
          .end()
          .css( "width", "96px")
          .append( trash_icon )
          .find( "img" )
            .css( "height", "72px" )
          .end()
          .appendTo( $gallery )
          .fadeIn();
      });
    }
 
    // image preview function, demonstrating the ui.dialog used as a modal window
    function viewLargerImage( $link ) {
      var src = $link.attr( "href" ),
        title = $link.siblings( "img" ).attr( "alt" ),
        $modal = $( "img[src$='" + src + "']" );
 
      if ( $modal.length ) {
        $modal.dialog( "open" );
      } else {
        var img = $( "<img alt='" + title + "' width='384' height='288' style='display: none; padding: 8px;' />" )
          .attr( "src", src ).appendTo( "body" );
        setTimeout(function() {
          img.dialog({
            title: title,
            width: 400,
            modal: true
          });
        }, 1 );
      }
    }
 
    // resolve the icons behavior with event delegation
    $( "ul.gallery > li" ).click(function( event ) {
      var $item = $( this ),
        $target = $( event.target );
 
      if ( $target.is( "a.ui-icon-trash" ) ) {
        deleteImage( $item );
      } else if ( $target.is( "a.ui-icon-zoomin" ) ) {
        viewLargerImage( $target );
      } else if ( $target.is( "a.ui-icon-refresh" ) ) {
        recycleImage( $item );
      }
 
      return false;
    });
  });
  </script>
</head>
<body>
 
<div class="ui-widget ui-helper-clearfix">
 
<ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
  <li class="ui-widget-content ui-corner-tr">
    <h5 class="ui-widget-header">High Tatras</h5>
    <img src="images/high_tatras_min.jpg" alt="The peaks of High Tatras" width="96" height="72">
    <a href="images/high_tatras.jpg" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a>
    <a href="link/to/trash/script/when/we/have/js/off" title="Delete this image" class="ui-icon ui-icon-trash">Delete image</a>
  </li>
  <li class="ui-widget-content ui-corner-tr">
    <h5 class="ui-widget-header">High Tatras 2</h5>
    <img src="images/high_tatras2_min.jpg" alt="The chalet at the Green mountain lake" width="96" height="72">
    <a href="images/high_tatras2.jpg" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a>
    <a href="link/to/trash/script/when/we/have/js/off" title="Delete this image" class="ui-icon ui-icon-trash">Delete image</a>
  </li>
  <li class="ui-widget-content ui-corner-tr">
    <h5 class="ui-widget-header">High Tatras 3</h5>
    <img src="images/high_tatras3_min.jpg" alt="Planning the ascent" width="96" height="72">
    <a href="images/high_tatras3.jpg" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a>
    <a href="link/to/trash/script/when/we/have/js/off" title="Delete this image" class="ui-icon ui-icon-trash">Delete image</a>
  </li>
  <li class="ui-widget-content ui-corner-tr">
    <h5 class="ui-widget-header">High Tatras 4</h5>
    <img src="images/high_tatras4_min.jpg" alt="On top of Kozi kopka" width="96" height="72">
    <a href="images/high_tatras4.jpg" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a>
    <a href="link/to/trash/script/when/we/have/js/off" title="Delete this image" class="ui-icon ui-icon-trash">Delete image</a>
  </li>
</ul>
 
<div id="trash" class="ui-widget-content ui-state-default">
  <h4 class="ui-widget-header"><span class="ui-icon ui-icon-trash">Trash</span> Trash</h4>
</div>
 
</div>
    
            
 
 
</body>
</html>-->
{% endblock %}