{% extends "base.html" %}
{% block estilos %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
{% endblock %}
{% block cuerpo %}

  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script>
  $(function() {
    $.fn.togglepanels = function(){
  return this.each(function(){
    $(this).addClass("ui-accordion ui-accordion-icons ui-widget ui-helper-reset")
  .find("h3")
    .addClass("ui-accordion-header ui-helper-reset ui-state-default ui-corner-top ui-corner-bottom")
    .hover(function() { $(this).toggleClass("ui-state-hover"); })
    
    .click(function() {
      $(this)
        .toggleClass("ui-accordion-header-active ui-state-active ui-state-default ui-corner-bottom")
        .find("> .ui-icon").toggleClass("ui-icon-triangle-1-e ui-icon-triangle-1-s").end()
        .next().slideToggle();
      return false;
    })
    .next()
      .addClass("ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom")
      .hide();
  });
};

$("#notaccordion").togglepanels();
  });
  </script>
  
  <div class="row">
    <div class="cuadroGrande span8 centrar">
      <div class="titulo">
        Asignaci&oacute;n de Camas
      </div>
      <br/>
      <p>Se muestran las habitaciones libres para asignar pacientes.</p>
      <p>Arrastre el paciente de las listas de la derecha hasta la habitaci&oacute;n que desea asignarle.</p>
      {% if habs %}
      <table class="table table-bordered table-striped">
        <tr>
        <th>N&uacute;mero de Habitaci&oacute;n</th>
        <th>Paciente</th>
        <th>M&eacute;dico</th>
        <th>Fecha estimada de salida</th>
      </tr>
        {% for h in habs %}
          <tr>
            <td>
              <span class="nombreLista">
                {{h.numero}}
              </span>
            </td>
            <td>
              
            </td>
            <td>
              
            </td>
            <td>
              
            </td>
          </tr>
        {% endfor %}
      </table>
      {% else %}
      <h4>No hay habitaciones disponibles en este momento.</h4>
      {% endif %}
    </div>
    
    <!--  Lista de Pacientes    -->
    <div class="cuadroGrande span4 centrar">
      <h4>Solicitudes de camas</h4>
      <div id="notaccordion">
        <h3><a href="#">Emergencia Adultos</a></h3>
        <div>
            <p>Paciente1</p>
        </div>
        <h3><a href="#">Emergencia Pedi&aacute;trica</a></h3>
        <div>
            <p>Paciente2</p>
        </div>
        <h3>Quir&oacute;fano</h3>
        <div>
            <p>Paciente3</p>
        </div>
        <h3>Sala de Partos</h3>
        <div>
            <p>Paciente4</p>
        </div>
        <h3>UCI</h3>
        <div>
            <p>Paciente5</p>
        </div>
        <h3>Adicionales</h3>
        <div>
            <p>Paciente6</p>
        </div>
        <h3>Especiales</h3>
        <div>
            <p>Paciente7</p>
        </div>
        <h3>Otros</h3>
        <div>
            <p>Paciente8</p>
        </div>
  
      </div>
    </div>
  </div>
{% endblock %}