{% extends "base.html" %}
{% block estilos %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
{% endblock %}
{% block cuerpo %}

  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script>
  $(function() {
    var elements = document.getElementsByClassName("coloreable");
    var coloreable;
    for (var i = 0; i < elements.length; i++) {
        coloreable = elements[i];
        num = coloreable.innerHTML;
        if (num == 1) {
            coloreable.className += " verde";
        } else if (num == 2) {
            coloreable.className += " amarillo";
        } else if (num == 3) {
            coloreable.className += " rojo";
        } else if (num > 3) {
            coloreable.className += " negro";
        }
    }
  });
  </script>
  
  <div class="row">
    <div class="cuadroGrande centrar">
      <div class="titulo">
        Censo
      </div>
      <br/>
      <h4><center> Al d&iacute;a {{ hoy }} </center></h4>
      </br>
      {% if pacientes %}
      <table class="table table-bordered">
        <tr>
            <th>N&uacute;mero de Habitaci&oacute;n</th>
            <th>Fecha de Ingreso</th>
            <th>Nro. D&iacute;as</th>
            <th>Paciente</th>
            <th>M&eacute;dico</th>
            <th>Fecha estimada de salida</th>
            <th>Procedencia</th>
        </tr>
        {% for p in pacientes %}
        
        <tr class="habitacion">
            <td>
                {{ p.habitacion.numero }}
            </td>
            <td>
                {{ p.fecha_ingreso }}
            </td>
            <td class="coloreable" style="text-align: center">
                {{ p.num_dias }}
            </td>
            <td>
                {{ p.paciente.nombres }} {{ p.paciente.apellidos }}
            </td>
            <td>
				{{ p.paciente.medico.first_name }}
            </td>
            <td>
                {{ p.fecha_estimada_salida }}
            </td>
            <td>
            </td>
        </tr>
        
       {% endfor %}
      </table>
      {% else %}
      <h4>No hay pacientes en este momento.</h4>
      {% endif %}
    </div>
  </div>
{% endblock %}