{% extends "base.html" %}
{% block estilos %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
{% endblock %}
{% block cuerpo %}

  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script>
  $(function() {
    var elements = document.getElementsByClassName("coloreable");
    var coloreable;
    for (var i = 0; i < elements.length; i++) {
        coloreable = elements[i];
        num = coloreable.innerHTML;
        if (num <= 2) {
            coloreable.className += " verde";
        } else if (num <= 4) {
            coloreable.className += " amarillo";
        } else if (num >= 5) {
            coloreable.className += " rojo";
        }
    }
  });
  </script>
  
  <div class="row">
    <div class="cuadroGrande centrar">
      <div class="titulo">
        Censo
      </div>
      <br/>
      <h4><center> Al d&iacute;a {{ hoy }} </center></h4>
      </br>
      {% if ingresos %}
      <table class="table table-bordered centrado">
        <tr>
            <th>N&uacute;mero de Habitaci&oacute;n</th>
            <th>Paciente</th>
            <th>M&eacute;dico</th>
            <th>Fecha estimada de salida</th>
            <th>Nro. D&iacute;as en la habitaci&oacute;n</th>
            <th>Nro. D&iacute;as en la instituci&oacute;n</th>
            <th>Procedencia</th>
			<th>Dar alta</th>
        </tr>
        {% for ingreso in ingresos %}
        
        <tr style="text-align: center">
            <td style="font-size: 18px; text-align: center">
                {{ ingreso.habitacion.numero }}
            </td>
            <td>
                {{ ingreso.solicitud.paciente.nombres }} {{ ingreso.solicitud.paciente.apellidos }}
            </td>
            <td>
                Dr. {{ ingreso.solicitud.medico.first_name }} {{ ingreso.solicitud.medico.last_name }}
            </td>
            <td style="text-align: center; width: 100px">
                {{ ingreso.solicitud.fecha_salida.day  }}/{{ ingreso.solicitud.fecha_salida.month  }}/{{ ingreso.solicitud.fecha_salida.year  }}
            </td>
            <td class="coloreable" style="text-align: center">
                {{ ingreso.num_dias }}
            </td>
            <td class="coloreable" style="text-align: center">
                {{ ingreso.num_dias }}
            </td>
            <td>
                {{ ingreso.procedencia }}
            </td>
			<td>
				<center><input type="button" class = "btn btn-primary" value = "Alta" ></center>
			</td>
        </tr>
        
       {% endfor %}
      </table>
      {% else %}
      <h4>No hay pacientes en este momento.</h4>
      {% endif %}
    </div>
  </div>
{% endblock %}