{% extends "base.html" %}
{% block cuerpo %}
  <div class="row  text-center">
    <div class="botones">    
      <div class="span2 offset1">
        <a href="/emergencia/agregar" class="btn">  
          <img src="/static/img/menus/asignar.png" />
          <h5>ASIGNAR CAMA</h5>
        </a>
      </div>
      <div class="span2 color">
        <a href="/emergencia/listar/todas" class="btn">
          <img src="/static/img/menus/censo.png" />
          <h5>CENSO</h5>
        </a>
      </div>
      <div class="span2 color">
        <a href="/emergencia/listar/atencion" class="btn">
          <img src="/static/img/menus/altas.png" />
          <h5>ESTATUS DE ALTAS</h5>
        </a>
      </div>
      <div class="span2 color">
        <a href="/estadisticas" class="btn">
          <img src="/static/img/menus/termometro.png" />
          <h5>TERM&Oacute;METRO</h5>
        </a>
      </div>
      <div class="span2 color">
        <a href="/estadisticas" class="btn">
          <img src="/static/img/menus/estadisticas.png" />
          <h5>ESTAD&Iacute;STICAS</h5>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
