{% extends "base.html" %}
{% block scripts %}
  <!--Datetime Picker -->
  <script type="text/javascript"
    src="/static/libs/datepicker/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript"
    src="/static/scripts/jquery.tipsy.js"></script>
  <script type="text/javascript"
    src="/static/scripts/spin.js"></script>
  <script type="text/javascript"
    src="/static/scripts/spin.min.js"></script>
  <script>
    $(document).ready(function() {
        $("#buscador").click(function() {
            var target = document.getElementById('spiner');
            var spinner = new Spinner().spin();
            target.appendChild(spinner.el);
            
            var objeto = $('#cedula');
            $.ajax({
                url : $(objeto).attr("action"),
                type : $(objeto).attr("method"),
                dataType: "json",
                data : $(objeto).serialize(),
                success : function(json) {
                    spinner.stop();
                    var arr_from_json = JSON.parse(json.message);
                    mostrar_paciente(arr_from_json[0].fields);
                },
                error : function(xhr,errmsg,err) {
                    spinner.stop();
                    alert("error");
                }
            });
            return false;
        });
        
        $('#buscador').tipsy({gravity: 'w'});
        
        $('#cedula').submit(function() {
            return false;
        });
    });
    
    
    function mostrar_paciente( paciente ) {
        $('#muestra_paciente').fadeIn();
        $('#nombres_paciente').text(paciente.nombres);
        $('#apellidos_paciente').text(paciente.apellidos);
        $('#edad_paciente').text(paciente.edad);
        $('#sexo_paciente').text(paciente.sexo);
        $('#sexo_paciente').text(paciente.sexo);
    }
    
  </script>
  
  <link rel="stylesheet"
    href="/static/libs/datepicker/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet"
    href="/static/css/tipsy.css">
    
{% endblock %} 
  {% block cuerpo %}
  {% if mensaje %}
    {{ mensaje }}
  {% endif %}
  <div class="row">
    <h4>
        Solicitar habitaci&oacute;n
    </h4>
    </br>
    
    <div class="cuadroGrande span6 centrar">
      <form id="cedula" class= "tablaAgregar" method="post" action="/buscar/paciente">
        {% csrf_token %}
        <table>
         <tr>
            <td>C&eacute;dula del paciente</td>
            <td>{{form.cedula}}</td>
            <td><a href="#">
                    <img id="buscador" 
                        title='Buscar paciente con esta c&eacute;dula' 
                        style="margin-left: 12px;" 
                        src="/static/img/lupa.png"/>
                </a>
            </td>
            <td><span id="spiner"></span><td>
            <td><span class="msj-error"> {{form.cedula.errors}} </span></td>
          </tr>
        </table>
      </form>
          
          <!--<tr>
          <td>Nombres</td>
            <td>{{form.nombres}}</td>
            <td>
              <span class="msj-error"> 
                {{form.nombres.errors}}
              </span>
            </td>
          </tr>
          
          <tr>
            <td>Apellidos</td>
            <td>{{form.apellidos}}</td>
            <td>
              <span class="msj-error"> 
                {{form.apellidos.errors}}
              </span>
            </td>
          </tr>
          
          <tr>
            <td>N&uacute;mero de historia</td>
            <td>{{form.num_historia}}</td>
            <td><span class="msj-error"> {{form.num_historia.errors}} </span></td>
          </tr>
          
          <tr>
           <td>C&eacute;dula m&eacute;dico tratante</td>
            <td>{{form.cedula_doctor}}</td>
            <td>
              <span class="msj-error"> 
                {{form.cedula_doctor.errors}}
              </span>
            </td>
          </tr>
          
          <tr>
          <td>Nombre m&eacute;dico tratante</td>
            <td>{{form.nombre_doctor}}</td>
            <td>
              <span class="msj-error"> 
                {{form.nombre_doctor.errors}}
              </span>
            </td>
          </tr>
          
          <tr>
            <td>Apellido m&eacute;dico tratante</td>
            <td>{{form.apellido_doctor}}</td>
            <td>
              <span class="msj-error"> 
                {{form.apellido_doctor.errors}}
              </span>
            </td>
          </tr>
   
          <tr>
           <td>Diagn&oacute;stico</td>
            <td>{{form.diagnostico}}</td>
            <td>
              <span class="msj-error"> 
                {{form.diagnostico.errors}}
              </span>
            </td>
          </tr>
          
          {% for e in form %}
          <tr>
                {% if e.label == "FECHA ESTIMADA DE INGRESO" %}
                <td>Fecha y hora de ingreso</td>
                <td>
                   <div id="ingreso_picker" 
                        class="input-append">
                    {{e}}
                     <span  class="add-on">
                      <i data-time-icon="icon-time"
                          data-date-icon="icon-calendar"> 
                       </i>
                    </span>
                    <script type="text/javascript">
                       $(function() {
                         $('#ingreso_picker').datetimepicker({
                           language: 'pt-BR'
                         });
                        
                        // Se cierra el calendario al seleccionar fecha
                        $('#ingreso_picker').on('changeDate', function(e) {
                          $('#ingreso_picker').datetimepicker('hide');
                        });
                        
                    });
                     </script>
 
                </td>
                <td>
                  {{e.errors}}
				  &nbsp &nbsp{{ mnj_fecha }}
                 </td> 
                
               {% elif e.label == "FECHA ESTIMADA DE SALIDA" %}
        
              <td>Fecha estimada de salida</td>
                <td>
                  <div id="egreso_picker" 
                       class="input-append">
                    {{e}}
                    <span  class="add-on">
                      <i data-time-icon="icon-time"
                         data-date-icon="icon-calendar"> 
                       </i>
                    </span>
                    <script type="text/javascript">
                      $(function() {
                        $('#egreso_picker').datetimepicker({
                          language: 'pt-BR'
                        });
                        
                        // Se cierra el calendario al seleccionar fecha
                        $('#egreso_picker').on('changeDate', function(e) {
                          $('#egreso_picker').datetimepicker('hide');
                        });
                      });
                    </script>
                 </td>
                <td>
                  {{e.errors}}
               </td> 
              {% endif %}
              </tr>
          {% endfor %}
          
          <tr>
            <td>Procedencia</td>
            <td>{{form.procedencia}}</td>
            <td>
              <span class="msj-error">
                {{form.procedencia.errors}} 
              </span>
            </td>
          </tr>
          
          <tr>
            <td>Correo solicitante</td>
            <td> 
                {{form.correo_solicitante}}
            </td>
            <td>
              <span class="msj-error"> 
                {{form.correo_solicitante.errors}}
              </span>
            </td>
          </tr> 
          
          <tr>
            <td>Observaciones</td>
            <td> 
                {{form.observacion}}
            </td>
            <td>
              <span class="msj-error"> 
                {{form.observacion.errors}}
              </span>
            </td>
          </tr>  -->
          
          <!--<tr>
            <td></td>
            <td>
              <input class="btn btn-primary" 
                     type="submit" 
                     value="Solicitar Habitaci&oacute;n" />
            </td>
          </tr>-->
        </table>
      </form>
    </div>
    
    <div id="muestra_paciente" class="span6 container" style="display: none">
        <table style="text-align: left" width="100%" border=1>
            <td>
                foto
            </td>
            <td>
                <table>
                    <tr>
                        <td>Nombres:</td>
                        <td id="nombres_paciente"></td>
                    </tr>
                    <tr>
                        <td>Apellidos:</td>
                        <td id="apellidos_paciente"></td>
                    </tr>
                    <tr>
                        <td>Edad:</td>
                        <td id="edad_paciente"></td>
                    </tr>
                    <tr>
                        <td>Sexo:</td>
                        <td id="sexo_paciente"></td>
                    </tr>
                    <tr>
                        <td>Fecha de Ingreso a la institucion:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Contacto:</td>
                        <td id="contacto_paciente"></td>
                    </tr>
                </table>
            </td>
        </table>
    </div>
    
    
  </div>
{% endblock %}