{% extends "base.html" %}
{% block cuerpo %}
  <div class="row  text-center">
    <div class="botones">
    {% if usuario.is_admin or user.is_staff %}
      <div class="span2 color">
        <a href="/habitacion/asignar" class="btn">  
          <img src="/static/img/menus/asignar.png" />
          <h5>ASIGNAR CAMA</h5>
        </a>
      </div>
      <div class="span2 color">
        <a href="/censo" class="btn">
          <img src="/static/img/menus/censo.png" />
          <h5>CENSO</h5>
        </a>
      </div>
	  <div class="span2 color">
        <a href="/habitacion/solicitar" class="btn">  
          <img src="/static/img/menus/solicitar.png" />
          <h5>SOLICITAR CAMA</h5>
        </a>
      </div>
      <div class="span2 color">
        <a href="/emergencia/listar/atencion" class="btn">
          <img src="/static/img/menus/altas.png" />
          <h5>ESTATUS DE ALTAS</h5>
        </a>
      </div>
      <div class="span2 color">
        <a href="/estadisticas/termometro" class="btn">
          <img src="/static/img/menus/termometro.png" />
          <h5>TERM&Oacute;METRO</h5>
        </a>
      </div>
      <div class="span2 color">
        <a href="/estadisticas" class="btn">
          <img src="/static/img/menus/estadisticas.png" />
          <h5>ESTAD&Iacute;STICAS</h5>
        </a>
      </div>
    {% else %}
        {% if usuario.is_resp %}
      <div class="span2 offset1">
        <a href="/emergencia/listar/todas" class="btn">
          <img src="/static/img/menus/censo.png" />
          <h5>CENSO</h5>
        </a>
      </div>
      <div class="span2 color">
        <a href="/emergencia/listar/atencion" class="btn">
          <img src="/static/img/menus/altas.png" />
          <h5>ESTATUS DE ALTAS</h5>
        </a>
      </div>
	  <div class="span2 color">
        <a href="/habitacion/solicitar" class="btn">  
          <img src="/static/img/menus/solictar.png" />
          <h5>SOLICITAR CAMA</h5>
        </a>
      </div>
      <div class="span2 color">
        <a href="/estadisticas/termometro" class="btn">
          <img src="/static/img/menus/termometro.png" />
          <h5>TERM&Oacute;METRO</h5>
        </a>
      </div>
      <div class="span2 color">
        <a href="/estadisticas" class="btn">
          <img src="/static/img/menus/estadisticas.png" />
          <h5>ESTAD&Iacute;STICAS</h5>
        </a>
      </div>
        {% else %}
            {% if usuario.is_medico %}
      <div class="span2 offset5">
        <a href="/emergencia/listar/todas" class="btn">
          <img src="/static/img/menus/altas.png" />
          <h5>DAR ALTAS</h5>
        </a>
      </div>
            {% else %}
                {% if usuario.is_sol %}
          <div class="span2 offset4">
            <a href="/habitacion/solicitar" class="btn">  
              <img src="/static/img/menus/solicitar.png" />
              <h5>SOLICITAR HABITACION</h5>
            </a>
          </div>
          <div class="span2 color">
            <a href="/censo" class="btn">
              <img src="/static/img/menus/censo.png" />
              <h5>CENSO DE PACIENTES</h5>
            </a>
          </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
    </div>
  </div>
{% endblock %}
